<!DOCTYPE html>
<head>
<title></title>
<style>
html, body {
	height: 100%;
}

body {
	font-family: verdana, sans-serif;
	font-size: 1.5em;
	background: linear-gradient({{favColor}}, #fff);
	text-align: center;
	line-height: 1.5;
}

form {
	margin: auto;
}

select, input {
	font-size: 1em;
}

section {
	margin-top: 0.5em;
}

textarea {
	font-family: Courier, monospace;
	font-size: 0.65em;
	width: 65%;
	height: 65%;
}

nav {
	margin-bottom: 1em;
	font-weight: bold;
}
</style>
</head>
<body>
	<nav><a href="/">Session Data</a> | <a href="/preferences">Preferences</a></nav>
	{{{body}}}
</body>
</head>
</html>
