<!doctype html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/base.css">
</head>
<html>
  <body>
    <p>
      This is the about page for homework 4!</a>
    </p>
    <p>
      It generates a color palette for you.</a>
    </p>
    {{{body}}}
  </body>
</html>
