<!doctype HTML>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href = "/css/base.css">
</head>
<body>
  <h1 style="font-family: baskerville; font-weight: 100"> #<span style="color:red">H</span><span style="color:green">E</span><span style="color:blue">X</span>CUSE ME! </h1>
  {{{body}}}
  <div class="footer">
    <a  href="colors">Colors</a>
    <a  href="about">About</a>
  </div>
</body>
</html>
