<form method="POST">
  <hr>
  <h3> Add a Movie: </h3>
  <p>
    Title: <input name="title" type="text">
    Year: <input name="year" type="number">
    Director: <input name="director" type="text">
  <input type="submit" value="Submit">
  </p>

<a href="/movies"> Home </a> <br>
<a href="/movies/mymovies"> My Movies </a>
